<div class="card-deck">
  <% @movies.each do |movie| %>
    <div class="card mb-4 shadow">
      <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.description %></p>
        <p class="card-text"><small class="text-muted"><%= movie.release_date %></small></p>
      </div>
    </div>
  <% end %>
</div>